[submodule "fixed-footer"]
	path = fixed-footer
	url = git://gist.github.com/6338658.git
[submodule "toggle-button"]
	path = toggle-button
	url = https://gist.github.com/68c5424a5972015c71e0.git
[submodule "loading-overlay"]
	path = loading-overlay
	url = git://gist.github.com/8553152.git
[submodule "float-label"]
	path = float-label
	url = git://gist.github.com/11206510.git
[submodule "terminal-text"]
	path = terminal-text
	url = git://gist.github.com/88c918a3a991510e49c1.git
[submodule "particles"]
	path = particles
	url = git://gist.github.com/f094808d46724f6010df.git
[submodule "parallax"]
	path = parallax
	url = git://gist.github.com/e31af5624886a0c85fa3.git
[submodule "isOnScreen"]
	path = isOnScreen
	url = git://github.com/moagrius/isOnScreen.git
